html 
{  
    height: 100vh;
    font-size: 32px;
    
}

body 
{



}



main 
{
    margin: 0 auto ;    
    width: 80vw;
    background-image: url("../images/header.JPG"); 
    border: brown 5px solid; 
}

section 
{
    margin: 0;
    padding: 0;

}


.overLay
{

}



.hero 
{
    text-align: center;
    z-index: 1;
    border-bottom: 1px solid black; 
}


.heroBg
{
    height: 100%;
    background-color: rgb(74, 42, 42, .91);
}

.hero a 
{
    text-decoration: none;
    text-decoration-style: none;
    color: white;
}

.hero p{

    margin-bottom: -10px;
}

.alan
{
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 3.9vw;
    color: rgb(255, 249, 249);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px brown;
}

.developer 
{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-size: 2vw;
}

.heroLogos 
{
    margin-top: 10%;
    padding: 1% 5% 1% 5%;
    width: 5%;
    cursor: pointer;
}

.menu 
{
    font-size: 2vw;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;

}

.scrollDown1 
{
    margin: 10% 0 5% 0;
    width: 2%;
}

.about 
{
    display: inline-block;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
}

.profilePicture
{
    margin-top: 5%;
    width: 3.5rem;
    border-radius: 100px;
}

.aboutBox3TextBox 
{
    padding: 20px;
}

.aboutBox3TextBox p 
{
    font-size: .4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome
{
    text-align: left;
}

.hello
{
    font-size: .7rem;
    color: brown;
}

.openDiv
{   
    background-color: brown;
    padding-bottom: 5px;;
}



.skills
{
    display: grid;
    width: 100%;
    background-color: whitesmoke;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 0%;
}
.stack
{
    margin-bottom: 10px;
    text-align: center;
    font-size: .4rem;
    color: brown;
}

.stack1
{
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;
    grid-column: 1 / span 4;
    text-align: center;
    font-size: .4rem;
}

.devIntro
{
    text-align: center;
    font-size: .4rem;

}

.frontEnd
{
    grid-column: 1 / span 1;
    text-align: center;
}

.frontEnd p 
{
    padding: 0px;
    margin: 0px;
    font-size: .5rem;
}

.frontEnd img 
{
    width: 5vw;
}


.backEnd{
    grid-column: 2 / span 1;
    text-align: center;
}

.backEnd p 
{
    padding: 0px;
    margin: 0px;
    font-size: .5rem;
}

.backEnd img 
{
    width: 5vw;
}

.tools{
    grid-column: 3 / span 1;
    text-align: center;
}

.tools p 
{
    padding: 0px;
    margin: 0px;
    font-size: .5rem;
}

.tools img 
{
    width: 5vw;
}

.other{
    grid-column: 4 / span 1;
    text-align: center;
}

.other p 
{
    padding: 0px;
    margin: 0px;
    font-size: .5rem;
}

.other img 
{
    width: 5vw;
}

.scrollDown{
    grid-column: 1 / span 4;
    text-align: center;
}

.scrollDown img
{

    width: 1.5vw;
}

.scrollDownf 
{
    z-index: 1;
    text-align: center;
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;

}

.scrollDownf img 
{    
    width: 3vw;
}

.div2 hr
{
    border: brown 1px solid;
    z-index: 1;
}



.featureTop
{
    z-index: 0;
    background-image: url('../images/1lgfast.png');
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.featuredPro img
{
    z-index: 0;
    width: 100vw;
}

.featureTop
{
    z-index: 1;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.headerf
{
    text-align: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.featureTopTextBox
{
    margin: 0 0px;
    padding-left: 20px;
    color: white;
    border: rgb(255, 255, 255) 2px double;
    border-radius: 10px;
    background-color: rgb(36, 6, 99);
    box-shadow: 2px 2px 3px rgba(255, 67, 67, 0.7);
    width: 40vw;
    height: 40vw;
    text-align: center;
    padding: 7px;
    grid-row: 3 / span 2;
    grid-column: 2 / span 1;
    z-index: 2;
}

.laptop
{
    text-align: center;
    padding: 0px;
    z-index: 3;
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
}

.featureTop .laptop img 
{

    width: 45vw
}

.featureTop h2 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    text-shadow: 2px 8px 5px black;
    font-size: 3vw;
}


.featureTopTextBox h1
{
    font-size: 3vw;
    text-shadow: 2px 5px 5px black;
}

.featureTopTextBox h2
{
    font-size: 2rem;
    text-shadow: 2px 5px 5px black;
}

.featureTopTextBox p
{
    font-size: 3vw;
    text-shadow: 2px 4px 3px black;
}

.featureLogo 
{
    align-self: center;
}

.featureLogo img
{
    z-index: 1;
    width: 40%;
    height: 30%;
    border-radius: 30px;
    cursor: pointer;
}

.portfolio1 
{
    background-color: whitesmoke;
}

.portfolio 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    width: 100%;
    text-align: center;
}

.portfolioBoxTextBox 
{
}

.pHeader
{
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
}

.portfolio1 h1
{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
    color: rgb(214, 60, 60);
    font-family: sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.portfolioProject1
{
    grid-row: 2 / span 4;
    grid-column: 1 / span 6 ;
}

.portfolioProject1 img 
{
    width: 30vw;
    height: 25vw;
    border: 3px double brown;
    border-radius: 9px;
    box-shadow: 1px 9px 10px rgba(165, 42, 42, .7);
}

.portfolioProject2 
{
    grid-row: 7 / span 4;
    grid-column: 1 / span 6 ;
}

.portfolioProject2 img 
{
    width: 30vw;
    height: 25vw;
    border: 3px double brown;
    border-radius: 9px;
    box-shadow: 1px 9px 10px rgba(165, 42, 42, .7);
}


.portfolioProject3 
{
    grid-row: 2 / span 4;
    grid-column: 7 / span 6 ;
}

.portfolioProject3 img 
{
    width: 30vw;
    height: 25vw;
    border: 3px double brown;
    border-radius: 9px;
    box-shadow: 1px 9px 10px rgba(165, 42, 42, .7);
}

.portfolioProject4 
{
    grid-row: 7 / span 4;
    grid-column: 7 / span 6 ;
}

.portfolioProject4 img 
{
    width: 30vw;
    height: 25vw;
    border: 3px double brown;
    border-radius: 9px;
    box-shadow: 1px 9px 10px rgba(165, 42, 42, .7);
}

.footer 
{

}


.heroLogos2
{
    width: 7vw;
    cursor: pointer;
}

.heroLogos3 
{
    width: 4vw;
    cursor: pointer;
}

.heroLogos4 
{
    width: 4vw;
    cursor: pointer;
}

.heroLogos5 
{
    width: 6vw;
    cursor: pointer;
}

.footer-title2
{
    font-size: 3vw;
    color: white;
}

.backTop 
{
    color: white;
    font-size: 3vw;
}

.backTop a {
    color: white;
}
